<ion-view hide-nav-bar="true">
<ion-content class = "splash padding">

<div class="branding"></div>
<br><br>

<form name="MyForm" ng-controller="myCtrlSignUp" novalidate>
<ion-list class="list-inset branding">
 <label class = "item item-input">
    <input type="text" ng-model="firstname" name="firstname" placeholder="Enter Your FirstName" required>
  </label>

   <label class = "item item-input">
    <input type="text"  ng-model="lastname" name="lastname" placeholder="Enter Your LastName" required>
  </label>

  <label class = "item item-input">
    <input type="email" ng-model="email" name="email" placeholder="Email Address" required>
  </label>

   <label class = "item item-input">
    <input type="tel" ng-model="phone_number" name="phone_number" placeholder="Phone Number(e.g XXX-XXX-XXXX)" required>
  </label>


   <label class="item item-input">
    <input type="password" ng-model= "pword" name="pword" placeholder="Password" required>
  </label>


   <label class="item item-input">
    <input type="password" ng-model= "cpword" name="cpword" placeholder="Confirm Password" required>
  </label>

  <button class="button button-block button-calm ion-person padding" type="submit" ng-click="onRegister()">Register</button>
</ion-list>
</form>
 
</ion-content>
</ion-view>

  <!--  <ion-list>
    <label class = "item item-input">
      <input type="text" placeholder="Enter Your First Name">
    </label>

    <label class = "item item-input">
      <input type="text" placeholder="Enter Your Last Name">
    </label>

    <label class = "item item-input">
      <input type="text" placeholder="Enter Your Email Address">
    </label>

    <label class="item item-input">
      <textarea placeholder ="Enter your Address Here"></textarea>
    </label>-->


    <!--<ion-item class = "item-icon-left item-icon-right" href = "#">
    <i class="icon  ion-email"></i>
        Hello 1
        <i class="icon ion-star"></i>
    </ion-item>

    <ion-item class="item-icon-left" href = "#">
    <i class="icon ion-home"></i>
    Hello 2
    <span class="item-note">
      Note
    </span>
  </ion-item>

    <ion-item href = "#">
    Hello 3
  </ion-item>-->

  