<ion-view view-title="Payment History" class = "h1-title">
<div class="loginbg"></div>
  <ion-content class="content">
  
    
    <ion-list>  
      <ion-item>
       <h3>17 December 15</h3>
       <p>N 5,380</p>
       <p>56765432123456</p>
       <span class = "item-note">
        <i class = "icon ion-chevron-right calm "></i>
      </span>
      </ion-item>

       <ion-item>
       <h3>17 December 15</h3>
       <p>N 5,380</p>
       <p>56765432123456</p>
       <span class = "item-note">
        <i class = "icon ion-chevron-right calm "></i>
      </span>
      </ion-item>

       <ion-item>
       <h3>17 December 15</h3>
       <p>N 5,380</p>
       <p>56765432123456</p>
       <span class = "item-note">
        <i class = "icon ion-chevron-right calm "></i>
      </span>
      </ion-item>

       <ion-item>
       <h3>17 December 15</h3>
       <p>N 5,380</p>
       <p>56765432123456</p>
       <span class = "item-note">
        <i class = "icon ion-chevron-right calm "></i>
      </span>
      </ion-item>

       <ion-item>
       <h3>17 December 15</h3>
       <p>N 5,380</p>
       <p>56765432123456</p>
       <span class = "item-note">
        <i class = "icon ion-chevron-right calm "></i>
      </span>
      </ion-item>

       <ion-item>
       <h3>17 December 15</h3>
       <p>N 5,380</p>
       <p>56765432123456</p>
       <span class = "item-note">
        <i class = "icon ion-chevron-right calm "></i>
      </span>
      </ion-item>

       <ion-item>
       <h3>17 December 15</h3>
       <p>N 5,380</p>
       <p>56765432123456</p>
       <span class = "item-note">
        <i class = "icon ion-chevron-right calm "></i>
      </span>
      </ion-item>

       <ion-item>
       <h3>17 December 15</h3>
       <p>N 5,380</p>
       <p>56765432123456</p>
       <span class = "item-note">
        <i class = "icon ion-chevron-right calm "></i>
      </span>
      </ion-item>


</ion-list>

  </ion-content>
</ion-view>
<div class="bar bar-footer bar-light">
  <button class ="button button-clear button-calm">Cancel</button>
  <button class ="button button-clear button-calm" onclick = "payBill()">Pay</button>

</div

